<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include backdrop.html %}

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
    {% include share-button.html %}
    {% include shortcuts.html %}

    <script src="{{ "/assets/js/theme.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/share-button.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/shortcuts.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/backdrop.js" | relative_url }}"></script>
  </body>
</html>
