---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>

  {% if page.tags and page.tags.size > 0 %}
  <div class="post-tags" style="margin: 1rem 0; font-size: 0.9rem;">
    <span>Tags: </span>
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tags#{{ tag | slugify }}" style="margin-right: 0.5rem;">{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}

  <div class="post-line"></div>

  {{ content }}

  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}

  <div class="pagination">
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}

    <a href="#" class="top">Top</a>
  </div>
</div>
